*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --btnColor: salmon;
    --bckColor: rgb(241, 109, 68);
    --fontFam: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: pink;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--fontFam);
}

h1{
    font-size: 150%;
}

.container{
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 25px 100px;
}

button{
    background-color: var(--btnColor);
    color: cornsilk;
    cursor: pointer;
    padding: 2px 5px;

}

.off{
    display: none;
}

.on{
    text-align: center;
}