*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --btnColor: salmon;
    --bckColor: rgb(241, 109, 68);
    --fontFam: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: pink;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--fontFam);
}

.container{
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.intro-page{
    margin-top: 30px;
}

.intro-page h1{
    font-size: 150%;
    padding: 2%;
}

.intro-page p{
    padding: 2%;
}

.choices-page{
    margin-top: 30px;
}

.choices{
    padding: 2%;
}

.end-page{
    margin-top: 30px;
}

.end-page p{
    padding: 2%;
}

li{
    list-style-type: none;
    text-align: left;
    padding: 1%;
}

h2{
    margin-top: 30px;
    padding: 2%;
}

.score-list{
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
    background-color: var(--btnColor);
    color: cornsilk;
    cursor: pointer;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.off{
    display: none;
}

.on{
    text-align: center;
}

.feedback{
    padding: 2%;
    text-align: center;
    color: gray;
}